<!-- extend base layout -->
{% extends "index_base.html" %}

{% block head_css %}
        {{ super() }}
        <link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}



<nav class="site-header sticky-top" style="background-color: white;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
                text-align: center;
                padding: 16px">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="link" href="#" style="color: white;
                      font-size: 18px;
                      letter-spacing: 2px;
                      margin-right: 10px">
      <!-- SVG code -->
    </a>
    <a class="d-none d-md-inline-block link"
   href="{{ url_for('SupermarketView.supermarket') }}"
                      style="color: black;
                      font-size: 18px;
                      letter-spacing: 2px;
                      margin-right: 10px">超級市場</a>

    <a class="d-none d-md-inline-block link" 
    href="#"
                      style="color: black;
                      font-size: 18px;
                      letter-spacing: 2px;
                      margin-right: 10px">護理保健</a>

    <a class="d-none d-md-inline-block link" 
    href="#"
                      style="color: black;
                      font-size: 18px;
                      letter-spacing: 2px;
                      margin-right: 10px">護膚化妝</a>



    <a class="d-none d-md-inline-block link" 
    href="#" 
                      style="color: black;
                      font-size: 18px;
                      letter-spacing: 2px;
                      margin-right: 10px">直送澳門</a>
    <a class="d-none d-md-inline-block link" 
    href="#" 
                      style="color: black;
                      font-size: 18px;
                      letter-spacing: 2px;
                      margin-right: 10px">母嬰育兒</a>
    <a class="d-none d-md-inline-block link" 
    href="#" 
                      style="color: black;
                      font-size: 18px;
                      letter-spacing: 2px;
                      margin-right: 10px">寵物用品</a>
    <a class="d-none d-md-inline-block link" 
    href="#" 
                      style="color: black;
                      font-size: 18px;
                      letter-spacing: 2px;
                      margin-right: 10px">大腦場</a>
    <a class="d-none d-md-inline-block link" 
    href="#" 
                      style="color: black;
                      font-size: 18px;
                      letter-spacing: 2px;
                      margin-right: 10px">家居電器</a>
    <a class="d-none d-md-inline-block link" 
    href="#" 
                      style="color: black;
                      font-size: 18px;
                      letter-spacing: 2px;
                      margin-right: 10px">家品傢俬</a>
    <a class="d-none d-md-inline-block link" 
    href="#" 
                      style="color: black;
                      font-size: 18px;
                      letter-spacing: 2px;
                      margin-right: 10px">吃喝玩樂</a>
    <a class="d-none d-md-inline-block link" 
    href="#" 
                      style="color: black;
                      font-size: 18px;
                      letter-spacing: 2px;
                      margin-right: 10px">運動旅行</a>
    <a class="d-none d-md-inline-block link" 
    href="#" 
                      style="color: black;
                      font-size: 18px;
                      letter-spacing: 2px;
                      margin-right: 10px">玩具圖書</a>
  </div>
</nav>

<div class="container">
    <div class="row">
       
    </div>
    
<!DOCTYPE html>
<html>
<head>
  <title>自動切換幻燈片</title>
  <style>
    .slide {
      display: none;
    }
    .slide.active {
      display: block;
    }
    .thumbnail {
      width: 100px;
      height: auto;
      cursor: pointer;
    }
    .thumbnail.active {
      border: 2px solid red;
    }
    .navigation-buttons {
      margin-top: 10px;
    }
  </style>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      var slides = document.getElementsByClassName("slide");
      var thumbnails = document.getElementsByClassName("thumbnail");
      var currentSlideIndex = 0;

      function showSlide(index) {
        slides[currentSlideIndex].classList.remove("active");
        thumbnails[currentSlideIndex].classList.remove("active");
        currentSlideIndex = index;
        slides[currentSlideIndex].classList.add("active");
        thumbnails[currentSlideIndex].classList.add("active");
      }

      function showNextSlide() {
        var newIndex = (currentSlideIndex + 1) % slides.length;
        showSlide(newIndex);
      }

      function showPreviousSlide() {
        var newIndex = (currentSlideIndex - 1 + slides.length) % slides.length;
        showSlide(newIndex);
      }

      for (var i = 0; i < thumbnails.length; i++) {
        thumbnails[i].addEventListener("click", function(index) {
          return function() {
            showSlide(index);
          };
        }(i));
      }

      setInterval(showNextSlide, 2000);

      var previousButton = document.getElementById("previous-button");
      var nextButton = document.getElementById("next-button");

      previousButton.addEventListener("click", function() {
        showPreviousSlide();
      });

      nextButton.addEventListener("click", function() {
        showNextSlide();
      });
    });
  </script>
</head>
<body>
  <div class="slide slide-1 active">
    <img src="/static/img/13.jpg" alt="Slide 1" />
   
  </div>
  <div class="slide slide-2 active">
    <img src="/static/img/14.jpg" alt="Slide 2" />
 
  </div>
  <div class="slide slide-3 active">
    <img src="/static/img/15.jpg" alt="Slide 3" />
  
 
  </div>

  </div>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var slides = document.getElementsByClassName("slide");
    var currentSlideIndex = 0;

    function showSlide(index) {
      slides[currentSlideIndex].classList.remove("active");
      currentSlideIndex = index;
      slides[currentSlideIndex].classList.add("active");
    }

    function showNextSlide() {
      var newIndex = (currentSlideIndex + 1) % slides.length;
      showSlide(newIndex);
    }

    function showPreviousSlide() {
      var newIndex = (currentSlideIndex - 1 + slides.length) % slides.length;
      showSlide(newIndex);
    }

    setInterval(showNextSlide, 2000);

    var previousButton = document.getElementById("previous-button");
    var nextButton = document.getElementById("next-button");

    previousButton.addEventListener("click", function() {
      showPreviousSlide();
    });

    nextButton.addEventListener("click", function() {
      showNextSlide();
    });
  });
</script>
</body>
</html>
    
</div>
       

       
       
       

</div>

    <!-- Controls -->
    
    
<div class="row">
  <div class="col-12">
    <img src="/static/img/18.jpg" alt="Full-width Image" style="width: 100%; height: auto;">
  </div>
</div>

{% endblock %}
